.Table {
  color: rgb(0, 225, 255);
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  overflow-x: auto;
  /* margin-top: ; */
  margin-bottom: auto;
}

td,
th {
  border: 1px solid #dddddddd;
  text-align: left;
  padding: 8px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 25px;
  height: 25px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}
.spinner-text {
  text-align: justify;
  text-decoration-color: aqua;
  color: rgb(0, 225, 255);
  /* margin-right: 30%; */
}

.spinner2-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 10px 0;
  padding: 20px;
  height: 800px;
  width: 30%;
}

.loading-spinner2 {
  width: 25px;
  height: 25px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container2 {
  display: grid;
  margin: 0%;
  padding: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.spinner-text2 {
  text-align: justify;
  text-decoration-color: aqua;
  color: rgb(0, 225, 255);
  /* margin-right: 30%; */
}
